<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="form">
    <h2>Login</h2>
    <form action="/user/login" method="POST">
      <label> UserName
        <input type="text" name="userName" placeholder="ironhacker" />
      </label>
      <label> Email
        <input type="email" name="email" placeholder="rockstar@ironhack.com" />
      </label>

      <label> Password
        <input type="password" name="password" placeholder="********" />
      </label>

      <button type="submit">Create account</button>
    </form>
  </div>
</body>

</html>